name: Build Maven Artifact

on:
  workflow_call:

jobs:
  build-artifact:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build package
        run: mvn clean install -DskipTests=true

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar
