name: Download Artifact

on:
  workflow_call:

jobs:
  download:
    runs-on: self-hosted
    steps:
      - name: Download JAR
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: app/
